.block-contact_info {
  @include column-padding;

  .column__content {
    p {
      margin-bottom: rem(10);
      font-weight: 600;

      > a {
        color: $color-primary;
      }

      @include media-breakpoint-down(sm) {
        font-size: 1.1rem;
      }
    }
  }
}
