.block-contacts {
  .contacts {
    @include column;

    .section-title {
      margin: 0;
    }
    
    .contacts__contact {
      display: flex;
      padding-bottom: 0;
      @include column-padding;
  
      .contact__image {
        min-width: 200px;
        min-height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  
        @include media-breakpoint-down(md) {
          min-width: 160px;
          min-height: 160px;
        }
  
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
  
      .contact__info {
        background-color: $white;
        padding: 1.5rem 1rem;
        width: 100%;
  
        @include media-breakpoint-up(md) {
          padding-left: 1rem;
        }
  
        h3 {
          margin-bottom: 0.2rem;
          color: $color-secondary;
        }
  
        .h5 {
          color: $color-secondary;
        }
  
        p {
          margin-bottom: 0.2rem;
          font-weight: 600;
        }
      }
    }
  }
}
