.block-hero_slider {
  .hero-slider__wrapper {
    .hero-slider__slide {
      @include hero-image;

      &.overlay {
        &::before {
          @include fade-overlay;
        }
      }

      .hero-slider__slide__content {
        @include hero-image-content;
      }
    }

    .slick-dots {
      @include list-reset;
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;

      li {
        display: inline-block;

        button {
          text-indent: -9999px;
          appearance: none;
          border: none;
          background-color: transparent;
          width: 50px;
          height: 3px;
          background-color: $white;
          margin: 0 5px;
        }

        &.slick-active {
          button {
            background-color: $color-primary;
          }
        }
      }
    }
  }
}
