.block-large_image {
  max-width: 2500px;
  margin: 0 auto;

  .large_image__wrapper {
    position: relative;
    
    .large_image__bg {
      @include bg-cover;
      @include column;

      height: 25vw;
      min-height: 300px;
      max-height: 700px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .column__content {
        z-index: 9999;
        position: relative;

        .section-title {
          color: $white;
        }
      }
    }
  }
}
