.block-textblock_and_image {
  max-width: 2500px;
  margin: 0 auto;

  .textblock_and_image__wrapper {
    display: flex;
    flex-wrap: wrap;

    .textblock_and_image__column {
      width: 100%;
      @include column;

      @include media-breakpoint-up(lg) {
        max-width: 50%;
      }

      .column__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        @include media-breakpoint-up(md) {
          padding-left: rem(45);
          padding-right: rem(45);
        }

        @include media-breakpoint-up(lg) {
          max-width: $maxw / 2;
        }
      }
    }

    .textblock_and_image__image {
      width: 100%;
      min-height: 300px;
      @include bg-cover;

      @include media-breakpoint-up(md) {
        min-height: 500px;
      }
    }

    &.normal {
      flex-direction: row-reverse;

      .column__content {
        margin-left: auto;
        
        @include media-breakpoint-up(lg) {
          padding-right: rem(90);
        }
      }
    }

    &.reverse {
      .column__content {
        @include media-breakpoint-up(lg) {
          padding-left: rem(90);
        }
      }
    }
  }
}
