.block-textblock {
  @include column-padding;

  .textblock-wrapper {
    &.narrow__textblock {
      @include media-breakpoint-up(md) {
        width: 85%;
        margin: 0 auto;
      }

      @include media-breakpoint-up(lg) {
        width: 70%;
      }
    }
  }
}
