.block-core {
  max-width: $narrow-container;
  margin: 0 auto;
  width: 100%;
}

$padding-blocks: "textblock", "contacts", "contact_info"; 

@each $value in $padding-blocks {
  .block.block-#{$value} {
    @each $value1 in $padding-blocks {
      + .block.block-#{$value1} {
        padding-top: 0;
      }
    }
  }
}

.block:not(.block-core, .block-large_image, .block-textblock, .block-button) + .block.block-core,
.block.block-core + .block:not(.block-core, .block-large_image, .block-textblock, .block-button) {
  @include column-padding(top);
}

.block:first-of-type {
  &.block-core {
    @include column-padding(top);
  }
}

.block:last-of-type {
  @include column-padding(bottom);
}

.block .wp-block-column .block,
.block .wp-block-columns .block {
  padding-top: 0;
  padding-bottom: 0;
}

.block .block {
  padding-top: 0;
  padding-bottom: 0;
}

.wp-block-columns {
  margin-left: -15px;
  margin-right: -15px;
}

.container .container .container {
  padding-left: 0;
  padding-right: 0;
}