.footer-menu {
  ul {
    list-style: none;
    padding: 0;

    &.footer-nav {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      text-align: left;
  
      > li {
        flex-grow: 1;
        min-width: 50%;
        padding-bottom: 0.5rem;
        padding-left: 15px;
        padding-right: 15px;
  
        > a {
          font-weight: bold;
        }
      }
      
  
      li {
        > .sub-menu {
          display: flex;
          flex-direction: column;
  
          > li {
            display: block;

            > a {
              font-size: 0.9rem;
            }
          }
        }

        > a {
          &:hover {
            color: $color-primary;
            text-decoration: none;
          }
        }
      }
    }
  }
}