.site-footer {
  padding-top: 6rem;
  padding-bottom: 1.5rem;
  background-color: $white;

  a {
    color: $black;

    &:hover {
      color: $color-primary;
    }
  }

  .footer-adress {
    padding-bottom: 1.5rem;
  }

  .footer-social {
    padding-bottom: 1.5rem;

    a {
      font-size: 1.6rem;
      padding: 0 0.3rem;
      color: $black;

      &:hover {
        color: $color-primary;
      }
    }
  }

  .site-by {
    padding-top: 4.5rem;
  }
}