//yleiset asetukset lomakkelle
.gform_wrapper {
  max-width: 900px;
  height: auto;
  padding: 1em;
  border: 5px solid #f78880;
  background-color: #271b57;
  font-family: 'Bangers', cursive;
  /*font-family: 'Oswald', sans-serif;*/
  color: white;
  font-size: 1.7rem;
  letter-spacing: 0.2em;
  justify-content: center;

  //Privacy policy -consent area styling
  .gform_body .gform_fields .gfield_consent_wrapper {
    width: 100%;
    display: block;
    background-color: #3c3167;
    text-align: center;
    justify-content: center;
  }

  //text field style consent info
  .gform_body .gform_fields .gfield_consent_description {
    background-color: #524878;
    color: white;
    padding: 3px;
    width: 90%;
    border: solid 3px white;
    margin-bottom: 40px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  //consent lable -  button styling
  .gform_body .gform_fields .gfield_consent_label {
    display: inline-block;
    transform: translateY(-40px);
    background-color: white;
    color: #271b57;
    /*border:solid 0.5rem white;*/
    /*border-radius:35px;*/
    text-align: center;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
  }

  //nimialue style useampi kenttä etu- ja sukunimi
  .gform_body .gform_fields .gfield .ginput_complex {
    display: inline-block;
  }
  //ei nimi-alue -otsikkoa näkyviin
  .gform_body .gform_fields .gfield .ginput_complex_label {
    display: none;
  }
  /*  
.gform_body .gform_fields .gfield .gfield_checkbox li  {
  color:#f78880;
  width: 300px;
  padding: 19px;
  padding-left:3px;
  text-align:center;
}
*/

  //lomakkeen otsikon muotoilu
  //näkyviin kutsu 2.arvo =true  gravity_form( 1, true, false, false, '', true, 12 );
  .gform_heading .gform_title {
    color: #f78880;
    font-family: 'Bangers', cursive;
    font-size: 3.5rem;
    letter-spacing: 1em;
    text-align: center;
  }
  //yläosan error viestin div
  .validation_error {
    border: solid 2px #f78880;
    background: white;
  }

  div.validation_error {
    color: #f78880 !important;
  }
  //error container body osassa
  .gform_body .gform_fields .gfield_error {
    color: #f78880;
    border: solid 2px #f78880;
    text-align: center;
  }
  //error viesti
  .gform_body .gform_fields .gfield_error .validation_message {
    color: #f78880 !important;
    text-align: center;
  }
  //tähti -vaaditaan täyttämään kentillä
  .gform_body .gform_fields .gfield_required {
    color: #f78880 !important;
  }

  //radio buttons valikon muotoilu
  .gform_body .gform_fields .gfield .gfield_radio li {
    font-size: 25px;
    color: #f78880;
    max-width: 500px;
    padding: 12px;
    margin-left: 2px;
    text-align: center;
  }

  //check-box muotoilu
  //label myöhemmin yliajaa tämän turha?
  /*
 .gform_body .gform_fields .gfield .gfield_checkbox li{
  font-size: 25px;
  color:white;
  max-width: 800px;
  position: relative;
  padding-left:50px;
    display:block;
    padding:5px;
  }
  */
  //teksti ennen...
  .gform_body
    .gform_fields
    .gfield
    ul.gfield_checkbox
    li
    input[type='checkbox']:not(:checked)
    + label,
  .single-column-form
    ul.gfield_checkbox
    li
    input[type='checkbox']:not(:checked)
    + label {
    margin-left: 20px;
    padding-left: 50px;
    font-size: 20px;
    color: white;
  }

  //teksti after
  .gform_body
    .gform_fields
    .gfield
    ul.gfield_checkbox
    li
    input[type='checkbox']:checked
    + label,
  .single-column-form
    ul.gfield_checkbox
    li
    input[type='checkbox']:not(:checked)
    + label {
    margin-left: 20px;
    padding-left: 50px;
    font-size: 25px;
    color: #f78880;
  }
  //piilottaa default check boxin
  .gform_body
    .gform_fields
    .gfield
    .gfield_checkbox
    [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    position: absolute !important;
    left: -9999px;
  }

  .gform_body
    .gform_fields
    .gfield
    .gfield_checkbox
    [type='checkbox']:not(:checked)
    + label,
  [type='checkbox']:checked + label {
    position: relative !important;
    padding-left: 1em !important;
    cursor: pointer !important;
  }

  //check-box before
  .gform_body
    .gform_fields
    .gfield
    .gfield_checkbox
    [type='checkbox']:not(:checked)
    + label:before,
  [type='checkbox']:checked + label:before {
    content: '';
    position: absolute;
    left: -17px;
    top: 2px;
    width: 1.3em;
    height: 1.3em;
    background: white;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 2px;
  }
  //check-box after
  .gform_body
    .gform_fields
    .gfield
    .gfield_checkbox
    [type='checkbox']:not(:checked)
    + label:after,
  [type='checkbox']:checked + label:after {
    content: '\2713';
    color: black;
    font-weight: 900;
    font-size: 1em;
    line-height: 0.9;
    text-align: center;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 2px;
    left: -17px;
    margin-right: 4px;
    background-color: #f78880;
    transition: all 0.2s;
  }
  .gform_body
    .gform_fields
    .gfield
    .gfield_checkbox
    [type='checkbox']:not(:checked)
    + label:after {
    opacity: 0;
    transform: scale(0);
  }
  .gform_body
    .gform_fields
    .gfield
    .gfield_checkbox
    [type='checkbox']:checked
    + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /*
    //nostaa checked jää ylös?
    .gfield_checkbox li input[type=checkbox]{
      width: 30px !important;
      height: 30px;
    }
    */

  .gform_body .gform_fields.gfield {
    background-color: white;
  }

  &.gform_center_wrapper {
    margin: 0;
  }

  //muuttaa body kenttien error message värin siirsin ylös
  /*
.validation_message {
  color:#f78880 !important;
}
*/

  ul {
    @include list-reset;
  }

  ul.gform_fields {
    @include list-reset;

    li.gfield {
      padding-top: rem(5);
      padding-bottom: rem(5);

      .validation_message {
        color: #f78880;
      }

      &.hidden_label label {
        display: none;
      }
      //tekstikentät tyylit
      input,
      textarea,
      select {
        padding: rem(0.2);
        /*border-radius: 35px;*/
        width: 100%;
        color: #271b57;
        background-color: white;
        font-weight: 200;
        margin-left: 2px;
        transition: $transition;
        text-align: center;

        &:active,
        &:focus {
          background-color: #f78880;
          //border-color: $medium-gray;
        }

        &::placeholder {
          color: #271b57;
          font-weight: 300;
        }
      }

      select {
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: calc(100% - 12px) center;
        padding-right: 30px;
      }

      //kentän nimi näkyviin vai ei?   "sähköposti", nimi
      /*  
      label {
        display: none;
      }
*/

      &.gfield_html label {
        display: block;
        text-align: center;
      }

      label {
        margin: 0;
        color: white;
        font-size: 0.8em;
        font-family: 'Oswald', sans-serif;
        color: #f78880;
        text-transform: uppercase;
      }

      input[type='radio'] {
        text-align: center;
        width: auto;
        margin-right: 0.5rem;
        font-weight: 300;
      }

      .ginput_container_checkbox {
        ul.gfield_checkbox {
          @include list-reset;

          li {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            input {
              width: 20px;
            }

            label {
              display: block;
              padding-left: 0.5rem;
              line-height: 1;
              width: calc(100% - 20px);
            }
          }
        }
      }

      .ginput_container_fileupload {
        input {
          color: #f78880;
        }
      }

      &.gfield_radio_wrapper,
      &.gfield_checkbox_wrapper {
        label {
          display: block;
        }
      }
    }

    .gfield_radio,
    .gfield_checkbox {
      li {
        display: flex;

        label {
          display: block;
        }
      }
    }

    .clear-multi {
      display: flex;
      justify-content: space-between;

      i {
        display: none;
      }
    }

    .ginput_container_time {
      // width: 49%;
      display: flex;
      align-items: center;
      width: 50%;
    }
  }

  .gform_footer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .gform_footer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  //send button muotoilu
  .gform_footer input[type='submit'] {
    width: 200px;
    height: 100px;
    font-weight: 500;
    padding: 32px 16px;
    border: 5px white;
    border-radius: 35px;
    background-color: #f78880;
    color: #271b57;
    transition-duration: 0.4s;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .gform_footer input[type='submit']:hover {
    background-color: white;
    color: #271b57;
    padding-left: 3px;
    margin-left: 2px;
  }

  &.form__full_width_wrapper {
    max-width: 100%;
    width: 100%;

    .gform_fields {
      display: flex;
      flex-wrap: wrap;

      .gfield {
        width: 50%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        &.gfield_html {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}
