.header__wrapper {
  position: sticky;
  top: 0;
  z-index: 9999;

  .site-header {
    // box-shadow: 0 6px 10px $light-gray;
    background-color: $white;
    width: 100%;
    display: flex;
    
    @include media-breakpoint-down(md) {
      align-items: center;
    }
  
    .site-header__content {
      display: flex;
      justify-content: space-between;
      height: 100%;
      // height: 70px;
    
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }
    
      .site-logo {
        padding-top: rem(20);
        padding-bottom: rem(20);
        display: flex;
        align-items: center;
    
        img {
          max-height: 70px;
          max-width: 140px;
  
          @include media-breakpoint-up(lg) {
            max-width: 400px;
          }
        }
      }
  
      .header-links {
        display: flex;
        align-items: center;
        margin-left: auto;
  
        @include media-breakpoint-up(lg) {
          margin-left: 0;
        }
      }
    }
  }
}
