.navbar-toggler {
  order: 4;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  z-index: 9999;
  padding: 0;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  .navbar-icon {
    background-image: $icon-menu;
  }
}

nav.navbar {
  padding: 0;
  margin-left: auto;

  &.desktop-nav {
    display: block;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &.mobile-nav {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    overflow-y: scroll;
  }

  .navbar-wrapper {
    width: 100%;

    @include media-breakpoint-up(lg) {
      height: 100%;
    }

    ul.navbar-nav {
      height: 100%;
      align-items: stretch;
      display: flex;
      background-color: $white;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        padding-top: 0;
      }

      @include list-reset;

      > li {
        @include media-breakpoint-up(lg) {
          height: 100%;
        }

        > a {
          display: block;
          align-items: center;

          @include media-breakpoint-up(lg) {
            height: 100%;
            display: flex;
          }
        }
      }

      li {
        list-style: none;

        a {
          padding: 1rem 1.5rem;
          color: $black;

          @include media-breakpoint-down(md) {
            padding: 0.4rem 1.5rem;
          }
        }

        .sub-menu {
          display: block;
          position: absolute;
          z-index: 9999;
          padding: 0;

          @include media-breakpoint-up(lg) {
            background-color: $white;
            display: none;
          }

          @include media-breakpoint-down(md) {
            position: relative;
            width: 100%;
          }

          > li {
            > a {
              padding: 0.5rem 1.5rem;
              display: block;

              @include media-breakpoint-down(md) {
                padding-left: 3rem;
              }
            }
          }
        }

        &:hover,
        &.current-menu-item {
          > a {
            background-color: $color-primary;
            color: $white;
            text-decoration: none;
          }
        }

        &.current_page_parent,
        &.current-menu-ancestor {
          > a {
            @include media-breakpoint-up(lg) {
              background-color: $color-primary;
              color: $white;
            }
          }
        }

        &.menu-item-has-children:hover {
          .sub-menu {
            display: block;
          }
        }
      }
    }
  }
}
