.navigation.mobile-nav {
  @include media-breakpoint-up(lg) {
    display: none;
  }

  width: 100%;
  overflow-y: scroll;

  .main-nav {
    ul.navigation-nav {
      flex-direction: column;

      li {
        a {
          padding: 0.4rem 1.5rem;
        }

        .sub-menu {
          position: relative;
          display: block;
          width: 100%;

          > li {
            > a {
              padding-left: 3rem;
            }
          }
        }
      }
    }
  }
}
