.navigation.pagination {
  @include column-padding(bottom);

  .screen-reader-text {
    display: none;
  }

  .nav-links {
    span,
    a {
      @extend .btn;

      &::after {
        content: "";
        margin: 0;
      }
    }

    span {
      background-color: transparent;
      color: $color-primary;
    }
  }
}
