.search-wrapper {
  @include column-padding(top);
}

.search-toggler {
  @extend .header-icon__container;

  margin-left: 0.5rem;

  @include media-breakpoint-up(lg) {
    margin-left: 1rem;
  }

  .search-toggler__icon {
    @extend .header-icon;
    background-image: $icon-search;
    background-size: 20px;
  }
}

.searchform-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  background-color: $white;

  .searchform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: rem(15 0);

    .search-input {
      display: flex;

      .search-input__field {
        background-color: $light-gray;
      }
    }
  }
}

// #searchform {
//   input[type="text"] {
//     padding-left: 2rem;
//     padding-right: 2rem;
//     padding-top: 1rem;
//     padding-bottom: 1rem;
//   }
// }
