.sidebar {
  @include media-breakpoint-down(md) {
    padding-bottom: 3rem;
  }

  ul {
    @include list-reset;
  }

  .post-categories,
  .product-categories {
    > li {
      font-weight: bold;
    }

    li {
      &.current-cat {
        > a {
          text-decoration: underline;
        }
      }

      > .children {
        padding-left: 0.5rem;
      }
    }
  }

  .product-category-dropdown {
    .product-category__toggler {
      appearance: none;
      padding: 0;
      border: none;
      background-color: transparent;

      .toggler__caret {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-image: $icon-caret-down;
        transform: rotate(180deg);
        background-repeat: no-repeat;
        background-size: contain;
        transition: $transition;
        vertical-align: middle;
      }

      &.collapsed {
        .toggler__caret {
          transform: rotate(0);
        }
      }

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .category_sidebar-title {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .product-categories {
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }
}
