.single {
  .post-thumbnail-img {
    @extend .block-large_image;
    @include bg-cover;
    height: 25vw;
    min-height: 300px;
    max-height: 700px;
    width: 100%;
  }
}

.post {
  padding-bottom: 3rem;
  
  .entry-thumbnail {
    padding-bottom: 2rem;
  }

  .entry-meta {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    border-top: 3px $white solid;
    font-size: 0.9rem;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    p {
      margin-bottom: 0;
      font-weight: bold;
    }

    .single-category-list {
      ul {
        @include list-reset;
        display: flex;
        flex-wrap: wrap;

        > li {
          > a {
            margin-right: 0.5rem;
            display: inline-block;
          }
        }
      }
    }

    .tag-list {
      a {
        font-style: italic;
        margin-right: 0.5rem;
      }
    }

    .posted-on + .single-category-list,
    .posted-on + .tag-list,
    .single-category-list + .tag-list {
      @include media-breakpoint-up(lg) {
        padding-left: 1rem;
        margin-left: 1rem;
        border-left: 3px $white solid;
      }

      @include media-breakpoint-down(md) {
        padding-top: 1rem;
      }
    }
  }
}
