.woocommerce {
  ul.products {
    li.product {
      a {
        .product-loop__content {
          color: $color-secondary;
        }
      }

      .button {
        margin-top: 0.5rem;
      }
    }
  }
}