.product-wrapper {
  @include column-padding;
}

.woocommerce-message {
  background-color: $white;
}

.woocommerce {
  button.button,
  button.button.alt,
  a.button,
  a.button.alt {
    @include button;
  }

  nav.woocommerce-pagination {
    ul.page-numbers {
      background-color: $white;
      border: none;

      li {
        border: none;

        .current {
          background-color: $color-primary;
          color: $white;
        }
      }
    }
  }
}

.woocommerce-wrapper {
  @include column-padding;
}

.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
  display: block;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: unset;
  padding: 0;
}

.header__cart-link {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;

  @include media-breakpoint-up(sm) {
    margin-left: 1rem;
  }

  .header-icon__cart {
    background-image: $icon-cart-white;
    display: inline-block;

    .product_count {
      position: absolute;
      top: -2px;
      right: -2px;
      background-color: $color-primary;
      color: $black;
      font-size: 12px;
      font-weight: bold;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 1.6;
    }
  }

  .cart__amount {
    margin-right: 0.7rem;
    font-size: 0.9rem;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.header__profile-link {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;

  @include media-breakpoint-up(sm) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 0;
  }

  .header-icon__profile {
    background-image: $icon-profile;
    background-size: 23px;
  }
}

// .product-loop__content {
//   padding: 0.5rem;
// }
