// html {
//   font-size: 18px;

//   @include media-breakpoint-down(md) {
//     font-size: 17px;
//   }
// }

body {
  background-color: $color-primary;
  color: $color-primary;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-size: rem(20);

  @include media-breakpoint-down(md) {
    font-size: rem(18);
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $color-primary;
  transition: $transition;

  &:hover {
    color: $color-primary;
  }
}

blockquote {
  padding: 1rem 2rem;
  border-left: 2px $color-primary solid;
}

//form Heading color...
@each $value in $headings {
  #{$value} {
    color: $color-primary;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 1.5rem;

    // @include media-breakpoint-down(md) {
    //   font-weight: 700;
    // }

    @include media-breakpoint-down(sm) {
    
      word-break: break-word;
      hyphens: auto;
    }
  }
}

h1,
.h1,
.entry-title {
  font-size: rem(40);

  @include media-breakpoint-down(md) {
    font-size: rem(32);
  }

  > a {
    color: $color-secondary;
  }
}

h2,
.h2 {
  font-size: rem(32);

  @include media-breakpoint-down(md) {
    font-size: rem(26);
  }
}

h3,
.h3 {
  font-size: rem(28);

  @include media-breakpoint-down(md) {
    font-size: rem(25);
  }
}

h4,
.h4 {
  font-size: rem(25);

  @include media-breakpoint-down(md) {
    font-size: rem(22);
  }
}

h5,
.h5 {
  font-size: rem(22);

  @include media-breakpoint-down(md) {
    font-size: rem(20);
  }
}

h6,
.h6 {
  font-size: rem(20);

  @include media-breakpoint-down(md) {
    font-size: rem(18);
  }
}

.page-title {
  font-size: rem(40);

  @include media-breakpoint-down(md) {
    font-size: rem(32);
  }
}

.sidebar-title {
  margin-bottom: 0.5rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: $maxw;
  }
}

.button,
.btn,
.wp-block-button__link {
  @include button;
}

input {
  border-radius: 0;
  border: none;
  padding: rem(15);
  // border: 2px $white solid;
  background-color: $white;
  line-height: normal;
}

select,
textarea {
  appearance: none;
  border-radius: 0;
  border: none;
  padding: 0.5rem;
}

figure {
  margin: 0;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  footer {
    margin-top: auto;
  }
}

.bg-overlay {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
  }
}

#breadcrumbs {
  margin-bottom: 0;
}

.error-404,
.search-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.image {
  @include bg-cover;
  height: 100%;
}

.wp-block {
  max-width: 100%;
}

.scroll-disabled {
  @include media-breakpoint-down(md) {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}


.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  transition: $transition;
  line-height: 1;
  width: 30px;
  height: 30px;
}

.header-icon__container {
  display: flex;
}

.header-icon {
  @extend .icon;

  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: $dark-gray;
  position: relative;
  background-size: 15px;

  &:hover {
    background-color: $color-primary;
  }
}
