@mixin column {
  padding-left: rem(15);
  padding-right: rem(15);
  width: 100%;

  .column__content {
    width: 100%;
    @include column-padding;
  }
}

@mixin column-padding($direction: all) {
  $top: 0;
  $bottom: 0;

  @if $direction == top {
    $top: rem(40);
  } @else if $direction == bottom {
    $bottom: rem(40);
  } @else {
    $top: rem(40);
    $bottom: rem(40);
  }

  padding-top: $top;
  padding-bottom: $bottom;

  @include media-breakpoint-up(md) {
    padding-top: $top * 1.5;
    padding-bottom: $bottom * 1.5;
  }
}

@mixin list-reset {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@mixin bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
}

@mixin fade-overlay {
  content: "";
  z-index: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.3;
}

@mixin hero-image {
  @include bg-cover;
  height: 40vw;
  min-height: 360px;
  color: $white;
}

@mixin hero-image-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  @include column-padding;

  .section-title {
    color: $white;
    margin-bottom: rem(15);
  }
}

@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
}

@mixin button {
  transition: $transition;
  color: $white;
  background-color: $color-primary;
  display: inline-block;
  text-align: center;
  border-radius: 0;
  font-weight: normal;
  padding: rem(12 40);
  margin-top: rem(15);

  &:hover,
  &:focus,
  &:active {
    color: $color-primary;
    background-color: $white;
    text-decoration: none;
  }

  &[type="submit"] {
    margin-top: 0;
  }
}
