$black: #000;
$white: #fff;
$dark-gray: #333333;
$light-gray: #f4f5f3;
$medium-gray: #ccc;

$bold: 700;
$transition: 0.15s ease;

$color-primary: #A1D9DA;
$color-secondary: #F78880;
$color-tertiary: #271B57;


$headings: "h1", "h2", "h3", "h4", "h5", "h6", ".h1", ".h2", ".h3", ".h4", ".h5", ".h6";
$padding: 4rem;

$maxw: 1340px;
$narrow-container: 1100px;
