    *{
$color-primary: #A1d9da;
$color-secondary:  #271B57;
$color-tertiary: #f78880;
    } 
     

body {
    font-family: 'Bangers', cursive;
    background-color: #A1d9da;
    color: $color-tertiary;
    font-weight:bold;
    margin: 0;
    padding: 0;

  }

  @media screen and (max-width: 600px) {
    body {
      background-color:$color-secondary; 
    }
  }
  
  
  h1{ 
    font-family: 'Bangers', cursive;
    color: #f78880;
    font-weight: bold;
    font-size: 80px; 
              -webkit-text-stroke-width: 3px; 
              -webkit-text-stroke-color: white; 
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 40px;
      -webkit-text-stroke-width: 0px; 
              -webkit-text-stroke-color: white; 
    }
  }
  
  h2 {
    font-family: 'Bangers', cursive;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding:  10px;
    color: #f78880;
  }
  @media screen and (max-width: 600px) {
    h2 {
      font-size: 30px;
    }
  }
  h4{
    font-family: 'Bangers', cursive;
    color:#f78880;
  }
  